<div class="row">
  <div class="container">
    <div class="col-md-12">    
      <div class="panel panel-primary">
       <div class="panel-heading">
          <div class="row">  
            <div class="col-md-2">
             <span class="input-group-addon" id="basic-addon1"> <i class="fa fa-list-alt"></i> Providers Bills</span>
            </div>
            <div class="btn-group col-md-3 col-md-offset-7" role="group">
              <%= link_to "All", 'http://localhost:3000/provider_bills', class:"btn btn-default" %>
              <%= link_to "Pendites", 'http://localhost:3000/provider_bills?status=pendiente', class:"btn btn-default" %>
              <%= link_to "Canceladas", 'http://localhost:3000/provider_bills?status=cancelada', class:"btn btn-default" %>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Bill Numbee</th>
                <th>Description</th>
                <th>Amount</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <% @provider_bills.each do |p_bill| %>
              <tr>
                <td><%= p_bill.bill_number %></td>
                <td><%= p_bill.description %></td>
                <td><%= p_bill.amount %></td>
                <td><%= p_bill.status %></td>
                <td><%= link_to "Add Transaction", 'http://localhost:3000/provider_bills/'+p_bill.id.to_s+'/transactions', class:"btn btn-default" %></td>
                <td><%= link_to "View Transaction", 'http://localhost:3000/transactions?provider_bill_id='+p_bill.id.to_s, class:"btn btn-default" %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>