<div class="row">
  <div class="container">
    <div class="col-md-12">    
      <div class="panel panel-primary">
        <div class="panel-heading"><i class="fa fa-users"></i> Provider List</div>
        <div class="panel-body">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Name</th>
                <th>Rif</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Address</th>
              </tr>
            </thead>
            <tbody>
              <% @providers.each do |provider| %>
              <tr>
                <td><%= provider.name %></td>
                <td><%= provider.rif %></td>
                <td><%= provider.phone %></td>
                <td><%= provider.email %></td>
                <td><%= provider.adress %></td>
                <td><%= link_to "New Bill",'falta por hacer', class:"btn btn-warning" %></td>
                <td><%= link_to "Edit", edit_provider_path(provider), class:"btn btn-info" %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
          <%= link_to "Create Provider", new_provider_path, class:"btn btn-success" %>
        </div>
      </div>
    </div>
  </div>
</div>