<div class="row">
	<div class="container">
		<div class="col-md-offset-2 col-md-8">    
			<div class="panel panel-primary">
				<div class="panel-heading"><i class="fa fa-building-o"></i> New Provider</div>
				<div class="panel-body">
					<%= semantic_form_for @provider do |f| %>
					<%= f.input :name, placeholder: "Insert name" %>
					<%= f.input :rif, placeholder: "Insert Fiscal Information Registration" %>
					<%= f.input :phone,placeholder: "Insert phone" %>
					<%= f.input :email, placeholder: "Insert email" %>
					<%= f.input :adress,placeholder: "Insert addres" %>
					<%= f.action :submit, :label => "Submit", :button_html => { :class => "btn btn-primary"} %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>