<div class="row">
  <div class="container">
    <div class="col-md-12">    
      <div class="panel panel-primary">
        <div class="panel-heading">
          <div class="row">  
            <div class="col-md-2">
             <span class="input-group-addon" id="basic-addon1"> <i class="fa fa-list-alt"></i> Bills List</span>
            </div>
            <div class="btn-group col-md-3 col-md-offset-7" role="group">
              <%= link_to "All", 'http://localhost:3000/bills', class:"btn btn-default" %>
              <%= link_to "Pendites", 'http://localhost:3000/bills?status=pendiente', class:"btn btn-default" %>
              <%= link_to "Canceladas", 'http://localhost:3000/bills?status=cancelada', class:"btn btn-default" %>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Client</th>
                <th>Rif</th>
                <th>Bill number</th>
                <th>Bill control</th>
                <th>Emition Date</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <% @bills.each do |bill| %>
              <tr>
                <td><%= bill.client_name %></td>
                <td><%= bill.client_rif %></td>
                <td><%= bill.bill_number %></td>
                <td><%= bill.bill_control %></td>
                <td><%= bill.emition_date %></td>
                <td><%= bill.status %></td>
                <td><%= link_to "Details", 'http://localhost:3000/bills/'+ bill.id.to_s, class:"btn btn-warning" %></td>
                <td><%= link_to "Edit", edit_bill_path(bill), class:"btn btn-info" %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>