<div class="row">
	<div class="container">
		<div class="col-md-offset-2 col-md-8">    
			<div class="panel panel-primary">
				<div class="panel-heading"><i class="fa fa-plus-square"></i> Add Transaction</div>
				<div class="panel-body">
				<div class="row">
				<div class="col-md-12">
					<%= semantic_form_for @transaction do |f| %>
					<%= f.input :transaction_number %>
					<%= f.input :transaction_total %>
					<%= f.input :transaction_date %>
					<%= f.input :bill_number %>
					</div>
					<div class="col-md-2">
						<%= f.input :provider_bill_id %>
					</div><div class="col-md-2">
						<%= f.input :bill_id %>
					</div>
				</div>
				<%= f.action :submit, :label => "Submit", :button_html => { :class => "btn btn-primary"} %>
				<% end %>
				</div>
			</div>
		</div>
	</div>
</div>