<div class="row">
	<div class="container">
		<div class="col-md-offset-2 col-md-8">    
			<div class="panel panel-primary">
				<div class="panel-heading"><i class="fa fa-users"></i> Edit Client</div>
				<div class="panel-body">
					<%= semantic_form_for @client do |f| %>
					<%= f.input :name %>
					<%= f.input :phone %>
					<%= f.input :email %>
					<%= f.input :address %>
					<%= f.action :submit, :label => "Update", :button_html => { :class => "btn btn-primary"} %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>